<!DOCTYPE html>
<html>
    <head>
        <title>Finder</title>
        <%- include('../shared/head_includes.ejs') %>
    </head>
    <%- include('../shared/header.ejs') %>
    <body>
        <main>
            <div id="Search">
                <form>

                </form>
            </div>
            <div id="RecipeList">
                <table>
                    <tr>
                        <th>Recipe Name</th>
                        <th>Calories Per Serving</th>
                        <th>Cost Per Serving</th>
                    </tr>
                    <tr>
                        <%_ for (const recipe of recipes) { _%>
                            <%_ if (recipe.recipe_name !== null) { _%>
                                <td><%= recipe.recipe_name %></td>
                                <%_ if (recipe.cal_per_serving !== null) {_%>
                                    <td><%= recipe.cal_per_serving %></td>
                                <%_ } else { _%>
                                <td>N/A</td>
                                <% } %>
                                <%_ if (recipe.cost_per_serving !== null) { _%>
                                    <td><%= recipe.cost_per_serving %></td>
                            <%_ } else { _%>
                                <td>N/A</td>
                            <%_ } _%>
                            <%_ } _%>
                        <%_ } _%>
                    </tr>
                </table>
            </div>
        </main>
    </body>
    <script>
    </script>
</html>
