<!DOCTYPE html>
<html>
    <head>
        <title>Finder</title>
        <%- include('../shared/head_includes.ejs') %>
    </head>
    <%- include('../shared/header.ejs') %>
    <body>
        <main>
            <div id="RecipeList">
                <table>
                    <tr>
                        <th>Recipe Name</th>
                        <th>Calories Per Serving</th>
                        <th>Cost Per Serving</th>
                    </tr>
                    <tr>
                        <%_ for (const recipe of recipes) { _%>
                            <% if (recipe.recipe_name !== null) { %>
                                <td><%= recipe.recipe_name %></td>
                                <td><%= recipe.cal_per_serving %></td>
                                <td><%= recipe.cost_per_serving %></td>
                            <% } %>
                        <%_ } _%>
                    </tr>
                </table>
            </div>
        </main>
    </body>
    <script>
    </script>
</html>
